<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Claire Batiste Atelier</title>
    <link rel="icon" type="image/png" href="icon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="icon-32.png" sizes="32x32">
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="app" class="over-wrapper">
      <div id="mobile-indicator"></div>
      <div id="sm-indicator"></div>
      <header>
        <div class="container">
          <div class="header-content">
            <div class="row">
              <div class="col header-col-1">
                <div class="navbar-trigger"><span></span><span></span><span></span></div>
                <div class="navbar-wrapper">
                  <div class="navbar-wrapper-inner">
                    <ul class="navbar-nav">
                      <li><a href="#about">Об&nbsp;ателье</a></li>
                      <li><a href="#fabric">Ткани</a></li>
                      <li><a href="#interior">В&nbsp;интерьере</a></li>
                      <li><a href="#showroom">Шоурум</a></li>
                    </ul>
                    <div class="navbar-contacts">
                      <div class="header-phone"><a href="tel: +7 (495) 123-45-67">+7 (495) 123-45-67</a></div>
                      <div class="header-callback"><a class="btn-callback" href="#" data-toggle="modal" data-target="#callbackModal">Заказать звонок</a></div>
                      <div class="header-soclinks"><a class="header-soclink" href="https://instagram.com/claire_batiste_atelier?utm_medium=copy_link" target="_blank"><img src="images/header-instagram.svg"></a><a class="header-soclink" href="https://www.facebook.com/groups/365272191832802" target="_blank"><img src="images/header-facebook.svg" width="20" height="20"></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col header-col-2">
                <div class="header-logo"><img src="images/logo.svg" alt="Claire Batiste Atelier"></div>
              </div>
              <div class="col header-col-3">
                <div class="header-contacts">
                  <div class="header-contacts-col-1">
                    <div class="header-phone-wrapper">
                      <div class="header-phone"><a href="tel: +7 (495) 123-45-67">+7 (495) 123-45-67</a></div>
                      <div class="header-callback"><a class="btn-callback" href="#" data-toggle="modal" data-target="#callbackModal">Заказать звонок</a></div>
                    </div>
                  </div>
                  <div class="header-contacts-col-2">
										<div class="header-soclinks"><a class="header-soclink" href="https://instagram.com/claire_batiste_atelier?utm_medium=copy_link" target="_blank"><img src="images/header-instagram.svg"></a><a class="header-soclink" href="https://www.facebook.com/groups/365272191832802" target="_blank"><img src="images/header-facebook.svg" width="20" height="20"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <div class="page-wrapper">
          <!-- Верхний блок-->
          <div class="section section-top">
            <div class="section-top-video" style="background-image: url(files/section-top-bg.jpg)"></div>
            <div class="container">
              <div class="section-content">
                <div class="row">
                  <div class="col section-top-col">
                    <div class="section-top-descr">
                      <div class="section-sup-ttl section-top-sup-ttl anim" data-anim-index="0">
                        <p>claire batiste</p>
                      </div>
                      <h1 class="anim" data-anim-index="1">Комфорт, качество, утонченность&nbsp;&mdash; в&nbsp;каждой модели</h1>
                      <div class="section-info section-top-info anim" data-anim-index="2">
                        <p>Сделайте свой выбор</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Верхний блок END-->
          <!-- Что мы предлагаем-->
          <div class="section section-products">
            <div class="section-bg"><img src="images/section-products-bg.jpg"></div>
            <div class="container">
              <div class="section-content">
                <div class="row">
                  <div class="col products-col-1 sticky-wrapper">
                    <div class="section-products-descr">
                      <div class="sticky-block">
                        <div class="section-header section-header-big">
                          <h2>Наши коллекции</h2>
                          <div class="section-info">
                            <p>Наши новейшие разработки наряду с&nbsp;изысканной классикой, исключительно для Вашего интерьера</p>
                          </div>
                        </div>
                        <div class="cat-form-wrapper">
                          <h3>Запросить каталог</h3>
                          <div class="cat-form">
                            <form>
                              <div class="row">
                                <div class="col cat-form-col-1">
                                  <div class="form-group">
                                    <label class="placeholder" for="catalog_phone">Телефон</label>
                                    <input class="input-phone" type="text" name="catalog_phone" id="catalog_phone" required>
                                  </div>
                                </div>
                                <div class="col cat-form-col-2">
                                  <div class="form-footer">
                                    <input class="btn btn-1" type="submit" value="Отправить">
                                  </div>
                                </div>
                              </div>
                              <div class="form-agree">
                                <p>Нажимая кнопку “Отправить” вы даете свое согласие с <a href="#" target="_blank">политикой обработки персональных данных</a></p>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col products-col-2">
                    <div class="prod-list-wrapper">
                      <div class="prod-list">
                        <div class="row">
                          <div v-for="item in productTypes" :key="item.id" class="col">
                            <a
                              class="prod-tmb"
                              href="#"
                              data-toggle="modal"
                              data-target="#prodModal"
                              data-url="load/prod-1.html"
                              data-hash="prod-1"
                              @click="selectedProductTypeForModal = item"
                            >
                              <div class="prod-tmb-pic"><img :src="item.mainImageUrl"></div>
                              <div class="prod-tmb-descr">
                                <div class="prod-tmb-plus"></div>
                                <p>{{ item.label }}</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Что мы предлагаем END-->
          <!-- Картинка-->
          <div class="section section-pic" style="background-image: url(files/section-pic-1-new.jpg)"></div>
          <!-- Картинка END-->
          <!-- Об ателье-->
          <div class="section section-about"><a name="about"></a>
            <div class="section-bg"><img src="images/section-about-bg.jpg"></div>
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Atelier</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-1.svg">
                  </div>
                </div>
                <div class="row">
                  <div class="col about-col-1">
                    <div class="about-descr">
                      <div class="section-header">
                        <h2>Прикасайтесь к&nbsp;прекрасному!</h2>
                        <div class="section-info">
                          <p>Мы&nbsp;шьем эксклюзивные модели для каждого заказчика: дизайн, цветовая гамма, размеры, разные ткани итальянского производства. Неизменно одно: наши изделия совершенны по&nbsp;качеству, комфортны, и&nbsp;прекрасно вписываются в&nbsp;интерьер, будь&nbsp;то изысканная классика или модные современные разработки.
														Клиенты, для которых важна оригинальность, могут заказать вышивку на&nbsp;любом предмете текстиля: можем вышить имя владельца или разработать персонализированный рисунок.
														Мы&nbsp;сотрудничаем с&nbsp;ведущими итальянскими компаниями. Если какой-то ткани не&nbsp;окажется на&nbsp;нашем складе, ее&nbsp;доставят из&nbsp;Европы в&nbsp;срок от&nbsp;двух недель.</p>
                        </div>
                      </div>
                      <h3>Преимущества</h3>
                      <div class="pros-list">
                        <div class="row">
                          <div class="col">
                            <div class="pros-tmb">
                              <div class="pros-tmb-ico"><img src="images/pros-tmb-ico.svg"></div>
                              <div class="pros-tmb-content">
                                <p>Изделия премиум-класса. Мы&nbsp;используем высококачественные итальянские ткани, приятные тактильно и&nbsp;изящные на&nbsp;вид.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="pros-tmb pros-tmb-empty"></div>
                          </div>
                          <div class="col">
                            <div class="pros-tmb">
                              <div class="pros-tmb-ico"><img src="images/pros-tmb-ico.svg"></div>
                              <div class="pros-tmb-content">
                                <p>Любые размеры. Каждый наш заказ&nbsp;&mdash; уникален, так что&nbsp;Вы можете заказать изделие любого размера, будь&nbsp;то постельное белье для стандартной двухместной кровати или текстиль для оформления личной яхты. А&nbsp;наши бестселлеры в&nbsp;стандартных размерах всегда ждут Вас на&nbsp;полках шоу-рума.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="pros-tmb">
                              <div class="pros-tmb-ico"><img src="images/pros-tmb-ico.svg"></div>
                              <div class="pros-tmb-content">
                                <p>Индивидуальный подбор тканей. Выберите готовые комбинации из&nbsp;каталога или закажите особый дизайн у&nbsp;наших специалистов.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="pros-tmb">
                              <div class="pros-tmb-ico"><img src="images/pros-tmb-ico.svg"></div>
                              <div class="pros-tmb-content">
                                <p>Вышивка. Мы&nbsp;готовы персонализировать Ваши изделия, добавив вышивку с&nbsp;именем. Идеальный вариант для людей, ценящих неповторимые вещи.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="pros-tmb">
                              <div class="pros-tmb-ico"><img src="images/pros-tmb-ico.svg"></div>
                              <div class="pros-tmb-content">
                                <p>Выезд на&nbsp;локацию. При необходимости мы&nbsp;приезжаем с&nbsp;образцами тканей к&nbsp;Вам, чтобы обсудить модели изделий и&nbsp;подобрать цветовые решения исключительно для Вашего интерьера.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="pros-tmb">
                              <div class="pros-tmb-ico"><img src="images/pros-tmb-ico.svg"></div>
                              <div class="pros-tmb-content">
                                <p>Сделайте осознанный выбор. Рассмотрите варианты из&nbsp;каталога онлайн или оцените их&nbsp;лично&nbsp;&mdash; в&nbsp;нашем шоу-руме.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col about-col-2 sticky-wrapper">
                    <div class="sticky-block">
                      <div class="about-pic">
                        <div class="about-pic-pic"><img src="files/about-pic.jpg"></div>
                        <div class="about-pic-badge"><img src="images/about-pic-badge.png">
                          <div class="about-badge-text"><img src="images/about-pic-text.svg"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Об ателье END-->
          <!-- Ткани-->
          <div class="section section-fabric"><a name="fabric"></a>
            <div class="section-bg"><img src="images/section-about-bg.jpg"></div>
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Ткани</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-2.svg">
                  </div>
                </div>
                <div class="row">
                  <div class="col about-col-1">
                    <div class="fabric-descr">
                      <div class="section-header">
                        <div class="section-sup-ttl">
                          <p>Итальянское качество</p>
                        </div>
                        <h2>Ткани</h2>
                        <div class="section-info">
                          <p>Мы&nbsp;используем ткани лучших итальянских Домов с&nbsp;многолетней историей, специализирующихся на&nbsp;производстве текстиля для дома</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col about-col-2">
                    <div class="fabric-teasers-wrapper">
                      <div class="fabric-list-badge"><img src="images/fabric-badge.png">
                        <div class="about-badge-text"><img src="images/about-pic-text.svg"></div>
                      </div>
                      <div class="fabric-teasers-list">
                        <div class="row">
                          <div class="col">
                            <div class="fabric-teasers-tmb"><img src="files/fabric-teasers-tmb-1.jpg"></div>
                          </div>
                          <div class="col">
                            <div class="fabric-teasers-tmb"><img src="files/fabric-teasers-tmb-2.jpg"></div>
                          </div>
                          <div class="col">
                            <div class="fabric-teasers-tmb"><img src="files/fabric-teasers-tmb-3.jpg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fabric-wrapper">
              <div class="container">
                <ul class="ajax-nav ajax-links">
                  <li v-for="item in fabricTypesTabs" :key="item.id">
                    <a
                      class="ajax-link"
                      :class="{['active']: item.id === selectedFabricsTabId}"
                      href="#"
                      data-url="load/fabric-list-1.html"
                      data-target="#fabricList"
                      @click="selectedFabricsTabId = item.id"
                    >
                      {{ item.label }}  
                    </a>
                  </li>
                </ul>
              </div>
              <div class="fabric-slider-wrapper" id="fabricList">
                <div  class="fabric-slider" id="fabric-slider" :key="selectedFabricsTabId">
                  <div v-for="item in selectedFabricsTabList" :key="item.id" class="slide">
                    <a class="fabric-tmb" href="#" data-toggle="modal" data-target="#fabricModal" data-url="load/fabric-1-1.html" data-hash="fabric-1-1" @click="selectedFabric = item">
                      <div class="fabric-tmb-pic" :style="`background-image:url(${item.mainImageUrl});`"></div>
                      <div class="fabric-tmb-content">
                        <div class="fabric-tmb-arrow"></div>
                        <div class="fabric-tmb-ttl">
                          <p>{{ item.label }}</p>
                          <!-- <p>SATINARTICLE Модал<br>SI.Модал 100%</p> -->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Ткани END-->
          <!-- Кейсы-->
          <div class="section section-cases"><a name="interior"></a>
            <div class="section-bg"><img src="images/section-about-bg.jpg"></div>
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Кейсы</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-3.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="cases-wrapper">
              <div class="container">
                <ul class="ajax-nav ajax-nav-alt ajax-links">
                  <li v-for="tab in productTypesTabs" :key="tab.id">
                    <a
                      class="ajax-link"                      
                      :class="{['active']: tab.id === selectedProductTypeTabId}"
                      href="#"
                      data-url="load/cases-list-1.html"
                      data-target="#casesList"
                      @click="selectedProductTypeTabId = tab.id"
                    >
                      {{ tab.label }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="custom-slider-wrapper cases-slider-wrapper" id="casesList">
                <div class="custom-slider cases-slider" id="cases-slider" :key="selectedProductTypeTabId">
                  <div class="slide" v-for="item in selectedProductTypeTabList" :key="item.id">
                    <a class="case-tmb" :href="item.mainImageUrl" :data-fancybox="item.id">
                      <div class="case-tmb-pic"><img :src="item.mainImageUrl"></div>
                      <div class="case-tmb-descr">
                        <div class="case-tmb-ttl">
                          <h3>{{ item.label }}</h3>
                        </div>
                        <div class="case-tmb-info">
                          <p>{{ (item.fabrics && item.fabrics[0] && item.fabrics[0].label) || '' }}</p>
                        </div>
                      </div>
                    </a>
										<div class="case-tmb-gal">
											<a class="case-tmb" href="files/case-tmb-1-1-2-big.jpg" :data-fancybox="item.id"></a>
											<a class="case-tmb" href="files/case-tmb-1-1-3-big.jpg" :data-fancybox="item.id"></a>
										</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Кейсы END-->
          <!-- Картинка-->
          <div class="section section-pic" style="background-image: url(files/section-pic-2-new.jpg)"></div>
          <!-- Картинка END-->
          <!-- Заказ-->
          <div class="section section-order">
            <div class="section-bg"><img src="images/section-about-bg.jpg"></div>
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Заказ</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-4.svg">
                  </div>
                </div>
                <div class="row">
                  <div class="col order-col-1">
                    <div class="order-descr">
                      <div class="section-header">
                        <h2>Сделайте заказ</h2>
                      </div>
                      <div class="order-form">
                        <form>
                          <div class="row">
                            <div class="col order-form-col-narrow">
                              <div class="form-group">
                                <label class="placeholder" for="order_type">Выберите тип</label>
                                <select name="order_type" id="order_type" required data-title="Выберите тип">
                                  <option value="" disabled></option>
                                  <option value="1">Тип 1</option>
                                  <option value="2">Тип 2</option>
                                  <option value="3">Тип 3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col order-form-col-narrow">
                              <div class="form-group">
                                <label class="placeholder" for="order_model">Выберите модель</label>
                                <select name="order_model" id="order_model" required data-title="Выберите модель">
                                  <option value="" disabled></option>
                                  <option value="1">Модель 1</option>
                                  <option value="2">Модель 2</option>
                                  <option value="3">Модель 3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col order-form-col-wide">
                              <div class="form-group">
                                <label class="placeholder" for="order_fabric">Выберите ткань</label>
                                <select name="order_fabric" id="order_fabric" required data-title="Выберите ткань">
                                  <option value="" disabled></option>
                                  <option value="1">Ткань 1</option>
                                  <option value="2">Ткань 2</option>
                                  <option value="3">Ткань 3</option>
                                </select>
                              </div>
                            </div>
                            <div class="col order-form-col-narrow">
                              <div class="form-group">
                                <label class="placeholder" for="order_length">Длина</label>
                                <input type="text" name="order_length" id="order_length" required>
                              </div>
                            </div>
                            <div class="col order-form-col-narrow">
                              <div class="form-group">
                                <label class="placeholder" for="order_width">Ширина</label>
                                <input type="text" name="order_width" id="order_width" required>
                              </div>
                            </div>
                            <div class="col order-form-col-wide">
                              <div class="form-agree">
                                <p>Нажимая кнопку “Отправить” вы даете свое согласие с <a href="#" target="_blank">политикой обработки персональных данных</a></p>
                              </div>
                            </div>
                            <div class="col order-form-col-wide">
                              <div class="form-footer">
                                <input class="btn btn-1" type="submit" value="Отправить">
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col order-col-2">
                    <div class="order-pic"><img src="files/order-pic.jpg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Заказ END-->
          <!-- Сервис-->
          <div class="section section-service">
            <div class="section-bg"><img src="images/section-about-bg.jpg"></div>
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Сервис</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-5.svg">
                  </div>
                </div>
                <div class="service-list-wrapper">
                  <div class="service-list">
                    <div class="row">
                      <div class="col"><a class="service-tmb" href="#" data-toggle="modal" data-target="#servModal" data-url="load/serv-1.html" data-hash="serv-1">
                          <div class="service-tmb-pic"><img src="files/service-1-tmb.jpg"></div>
                          <div class="service-tmb-descr">
                            <h3>Доставка товаров</h3>
                            <div class="service-tmb-plus"></div>
                          </div></a></div>
                      <div class="col"><a class="service-tmb" href="#" data-toggle="modal" data-target="#servModal" data-url="load/serv-2.html" data-hash="serv-2">
                          <div class="service-tmb-pic"><img src="files/service-2-tmb.jpg"></div>
                          <div class="service-tmb-descr">
                            <h3>Дозаказ изделий</h3>
                            <div class="service-tmb-plus"></div>
                          </div></a></div>
                      <div class="col"><a class="service-tmb" href="#" data-toggle="modal" data-target="#servModal" data-url="load/serv-1.html" data-hash="serv-3">
                          <div class="service-tmb-pic"><img src="files/service-3-tmb.jpg"></div>
                          <div class="service-tmb-descr">
                            <h3>Система лояльности</h3>
                            <div class="service-tmb-plus"></div>
                          </div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Сервис END-->
          <!-- Картинка-->
          <div class="section section-pic" style="background-image: url(files/section-pic-3-new.jpg)"></div>
          <!-- Картинка END-->
          <!-- Для дизайнеров-->
          <div class="section section-designers">
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Atelier</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-6.svg">
                  </div>
                </div>
                <div class="row">
                  <div class="col designers-col-1">
                    <div class="section-header">
                      <div class="section-sup-ttl">
                        <p>Дизайнерам</p>
                      </div>
                      <h2>Специальное предложение для дизайнеров</h2>
                    </div>
                    <p>С&nbsp;нами&nbsp;Вы сможете довести Ваш дизайн-проект до&nbsp;совершенства, подобрав домашний текстиль в&nbsp;точном соответствии с&nbsp;Вашей интерьерной концепцией.</p>
										<p>Вы&nbsp;можете подобрать изделия для Вашего проекта из&nbsp;каталога, или создать уникальные изделия, которые мы&nbsp;разработаем совместно с&nbsp;Вами исключительно для Вашего интерьера.
											Напишите нам, чтобы узнать условия.</p>
                  </div>
                  <div class="col designers-col-2">
                    <div class="designers-pic"><img src="files/designers-pic.jpg"></div>
                  </div>
                </div>
                <div class="designers-pros-wrapper">
                  <div class="section-sup-ttl">
                    <p>Преимущества работы с&nbsp;нами:</p>
                  </div>
                  <div class="des-pros-list">
                    <div class="row">
                      <div class="col">
                        <div class="des-pros-tmb">
                          <div class="des-pros-tmb-pic"><img src="images/des-pros-dummy.svg"></div>
                          <div class="des-pros-tmb-descr">
                            <h3>Мы&nbsp;предлагаем персональные условия сотрудничества с&nbsp;дизайнерами</h3>
                            <p>Уверены, что они Вас заинтересуют.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="des-pros-tmb">
                          <div class="des-pros-tmb-pic"><img src="images/des-pros-dummy.svg"></div>
                          <div class="des-pros-tmb-descr">
                            <h3>Оформление предложения</h3>
                            <p>Совместно с&nbsp;Вами составим индивидуальное предложение для Вашего заказчика.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="des-pros-tmb">
                          <div class="des-pros-tmb-pic"><img src="images/des-pros-dummy.svg"></div>
                          <div class="des-pros-tmb-descr">
                            <h3>Широкий ассортимент</h3>
                            <p>Выбирайте любые ткани и&nbsp;цвета, самостоятельно подбирая сочетания из&nbsp;большой палитры оттенков на&nbsp;нашем складе в&nbsp;Москве.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="des-pros-tmb">
                          <div class="des-pros-tmb-pic"><img src="images/des-pros-dummy.svg"></div>
                          <div class="des-pros-tmb-descr">
                            <h3>Любые размеры изделий. Специальный дизайн</h3>
                            <p>Мы&nbsp;создадим изделие по&nbsp;Вашим эскизам.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="des-pros-tmb">
                          <div class="des-pros-tmb-pic"><img src="images/des-pros-dummy.svg"></div>
                          <div class="des-pros-tmb-descr">
                            <h3>Персонализация текстиля</h3>
                            <p>Придумайте неповторимый узор, и&nbsp;мы&nbsp;разработаем рисунок вышивки по&nbsp;Вашему эскизу для любого изделия.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="des-pros-tmb">
                          <div class="des-pros-tmb-pic"><img src="images/des-pros-dummy.svg"></div>
                          <div class="des-pros-tmb-descr">
                            <h3>Выезд на&nbsp;объект</h3>
                            <p>Мы&nbsp;приезжаем с&nbsp;каталогами и&nbsp;образцами на&nbsp;объект для декорирования интерьера любыми видами текстильных изделий.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Для дизайнеров END-->
          <!-- Картинка-->
          <div class="section section-pic" style="background-image: url(files/section-pic-2.jpg)"></div>
          <!-- Картинка END-->
          <!-- Showroom-->
					<!--
          <div class="section section-showroom"><a name="showroom"></a>
            <div class="container">
              <div class="section-content">
                <div class="big-header">
                  <h2>Show<br>room</h2>
                  <div class="big-header-ttl">
										<img src="images/ttl-7.svg">
                  </div>
                </div>
                <div class="custom-slider-wrapper cases-slider-wrapper showroom-slider-wrapper">
                  <div class="custom-slider cases-slider showroom-slider">
                    <div class="slide"><a class="case-tmb" href="files/showroom-1.jpg" data-fancybox="showroom_gal">
                        <div class="case-tmb-pic"><img src="files/showroom-1-tmb.jpg"></div></a></div>
                    <div class="slide"><a class="case-tmb" href="files/showroom-2.jpg" data-fancybox="showroom_gal">
                        <div class="case-tmb-pic"><img src="files/showroom-2-tmb.jpg"></div></a></div>
                    <div class="slide"><a class="case-tmb" href="files/showroom-3.jpg" data-fancybox="showroom_gal">
                        <div class="case-tmb-pic"><img src="files/showroom-3-tmb.jpg"></div></a></div>
                    <div class="slide"><a class="case-tmb" href="files/showroom-1.jpg" data-fancybox="showroom_gal">
                        <div class="case-tmb-pic"><img src="files/showroom-1-tmb.jpg"></div></a></div>
                    <div class="slide"><a class="case-tmb" href="files/showroom-2.jpg" data-fancybox="showroom_gal">
                        <div class="case-tmb-pic"><img src="files/showroom-2-tmb.jpg"></div></a></div>
                    <div class="slide"><a class="case-tmb" href="files/showroom-3.jpg" data-fancybox="showroom_gal">
                        <div class="case-tmb-pic"><img src="files/showroom-3-tmb.jpg"></div></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->
          <!-- Showroom END-->
        </div>
      </main>
      <footer>
        <div class="footer-bg"><img src="images/footer-bg.jpg"></div>
        <div class="section section-contacts">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col contacts-col-1">
                  <div class="section-header">
                    <h2>Мы ждём вас в&nbsp;шоу-руме</h2>
                  </div>
                  <div class="contacts-phone">
                    <div class="contacts-phone-button"><a class="btn-footer-callback" href="#" data-toggle="modal" data-target="#callbackModal">Заказать звонок</a></div>
                    <div class="contacts-phone-num"><a href="tel: +7 (495) 123-45-67">+7 (495) 123-45-67</a></div>
                  </div>
                  <div class="contacts-address">
                    <p>119590 г. Москва 2-й Павелецкий проезд&nbsp;д.&nbsp;5&nbsp;строение 1, 1&nbsp;этаж</p>
                  </div>
                  <div class="contacts-soclinks"><a class="contacts-soclink" href="#"><img src="images/header-instagram.svg"></a><a class="contacts-soclink" href="#"><img src="images/header-pinterest.svg"></a></div>
                  <div class="contacts-info">
                    <p>Специально для тех, кто ценит тактильные ощущения и&nbsp;хочет заранее опробовать выбранные ткани или изделия, мы&nbsp;предлагаем приехать в&nbsp;наш шоу-рум. Здесь Вы&nbsp;сможете оценить качество наших изделий изделий, приобрести готовые изделия или оформить индивидуальный заказ.</p>
                  </div>
                </div>
                <div class="col contacts-col-2">
                  <div class="contacts-form">
                    <div class="contacts-form-inner">
                      <h3>Приглашаем на&nbsp;встечу</h3>
                      <form>
                        <div class="form-group">
                          <label class="placeholder" for="contacts_name">Представьтесь</label>
                          <input type="text" name="contacts_name" id="contacts_name" required>
                        </div>
                        <div class="form-group">
                          <label class="placeholder" for="contacts_phone">Телефон</label>
                          <input class="input-phone" type="text" name="contacts_phone" id="contacts_phone" required>
                        </div>
                        <div class="form-agree">
                          <p>Нажимая кнопку “Отправить” вы даете свое согласие с <a href="#" target="_blank">политикой обработки персональных данных</a></p>
                        </div>
                        <div class="form-footer">
                          <input class="btn btn-1" type="submit" value="Отправить">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="footer-copy">
              <p>Claire batiste atelier&nbsp;&mdash; пошив постельного белья на&nbsp;заказ.&nbsp;2021</p>
            </div>
            <div class="footer-dev">
              <p><a href="https://paradigma-digital.ru" target="_blank">Разработка сайта — <span>Paradigma</span></a></p>
            </div>
          </div>
        </div>
      </footer>
      <div class="modal fade prod-modal" id="prodModal" tabindex="-1">
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
          @click="handleProdModalClose"
        >
          <img class="svg-inline" src="images/close.svg">
        </button>
        <div class="modal-dialog">
          <product-type-modal
            :data="selectedProductTypeForModal"
            :cases="selectedProductTypeCases"
            @select-fabric="selectedFabric = $event"
          />
        </div>
      </div>
      <div class="modal fade prod-modal fabric-modal" id="fabricModal" tabindex="-1">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" @click="selectedFabric = null">
          <img class="svg-inline" src="images/close.svg">
        </button>
        <div class="modal-dialog">
          <fabric-modal :data="selectedFabric" />
        </div>
      </div>
      <div class="modal fade serv-modal" id="servModal" tabindex="-1">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><img class="svg-inline" src="images/close.svg"></button>
        <div class="modal-dialog">
          <div class="ajax-modal-content"></div>
        </div>
      </div>
      <div class="modal fade form-modal" id="callbackModal" tabindex="-1">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><img class="svg-inline" src="images/close.svg"></button>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-content-inner">
              <div class="form-modal-lead">
                <p>Заполните номер телефона и&nbsp;наш специалист свяжется с&nbsp;Вами в&nbsp;течение 15&nbsp;минут:</p>
              </div>
              <div class="modal-form">
                <form>
                  <div class="form-group">
                    <label class="placeholder" for="callback_phone">Телефон</label>
                    <input class="input-phone" type="text" id="callback_phone" name="callback_phone" required>
                  </div>
                  <div class="form-footer">
                    <input class="btn btn-1 btn-1-submit" type="submit" value="Отправить">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal success-modal" id="successModal" tabindex="-1">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><img class="svg-inline" src="images/close.svg"></button>
        <div class="modal-dialog">
          <div class="modal-content">
            <h2>Спасибо за&nbsp;оказанное доверие</h2>
            <div class="form-modal-lead success-modal-text">
              <p>Наш специалист свяжется с&nbsp;Вами в&nbsp;течение 15&nbsp;минут.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/wNumb.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fancybox/jquery.fancybox.min.js"></script>
    <script src="js/greensock/TweenMax.min.js"></script>
    <script src="js/greensock/plugins/CSSRulePlugin.min.js"></script>
    <script src="js/greensock/plugins/ScrollToPlugin.min.js"></script>
    <script src="js/iscroll-probe.js"></script>
    <script src="js/scrollmagic/ScrollMagic.min.js"></script>
    <script src="js/scrollmagic/plugins/animation.gsap.min.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/vue-components/FabricModal.min.js"></script>
    <script src="js/vue-components/ProductTypeModal.min.js"></script>
    <script src="js/mainbw.min.js"></script>
  </body>
</html>